.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.pagination ul .page-item .page-link{
	margin: 0
}
.selectize-input{
	padding: 6px 12px !important
}