RewriteEngine on
<Limit GET POST>
	order deny,allow
	deny from all
	allow from all
</Limit>
<Limit PUT DELETE>
	order deny,allow
	deny from all
</Limit>
<Files ~ "\.(tpl|inc)$"> 
	order deny,allow 
	deny from all 
</files>

RewriteRule ^editor/tiny_mce/plugins/advimage/image.htm$	index.php?mod=editor&act=image [L] 
RewriteRule ^editor/tiny_mce/plugins/advlink/link.htm$	index.php?mod=editor&act=link [L]
RewriteRule ^isomanager/$		index.php?mod=editor&act=manager [L] 
RewriteRule ^feedback.cfg$		index.php?mod=home&act=feedback [L]
<IfModule php7_module>
   php_flag display_errors Off
   php_value max_execution_time 60
   php_value max_input_time -1
   php_value max_input_vars 5000
   php_value memory_limit 512M
   php_value post_max_size 512M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/tmp"
   php_value upload_max_filesize 512M
   php_flag zlib.output_compression Off
</IfModule>